*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgb(116, 116, 116);
}
img{
    width: 100%;
}
.navegacion{
    background-color: hsla(82, 24%, 74%, 1);
    width: 100%;
    top: 0;
    text-align: center;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 25px 30px;
    color: hsla(60, 0%, 0%, 1);
    text-decoration: none;
}
.menu li:hover {
    background-color: hsla(0, 69%, 66%, 1);
    transition: all .3s;
}
.submenu{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    background-color: hsla(82, 24%, 74%, 1);
    text-align: left;
}
.submenu li a {
    display: block;
    width: 140%;
    padding: 25px;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.submenu > li > a {
    display: block;
    text-decoration: none;
    color: hsla(60, 0%, 0%, 1);
}
input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number],input[type=date] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 40%;
    background-color: hsla(82, 24%, 74%, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    width: 40%;
    background-color: hsla(82, 24%, 74%, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: hsla(82, 24%, 74%, 1);
  }
  input[type=reset]:hover {
    background-color: hsla(82, 24%, 74%, 1);
  }
  
  .principal {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .principal p {
      margin-bottom: 10px;
      font-size: 25px;
      color: hsla(0, 69%, 66%, 1);
  }
  .pie-pagina {
      background-color: hsla(82, 24%, 74%, 1);
      padding: 30px;
      display: flex;
      justify-content: center;
      
  }
.principal div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
